# Importing Required Packages

In [85]:
import pandas as pd
import numpy as np
import warnings
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [86]:
warnings.filterwarnings("ignore")
pd.options.display.max_columns = 30

### 1) Loading the appropriate CSV file (Batting.csv) as pandas DataFrame.

In [89]:
df=pd.read_csv("C:/Users/prana/Desktop/michael cave/batting.csv")
df.head()

,playerID,nameFirst,nameLast,birthYear,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,Frank,Abercrombie,1850,1871,1,TRO,NaN,1,4,0,0,0,0,0,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1,addybo01,Bob,Addy,1842,1871,1,RC1,NaN,25,118,30,32,6,0,0,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,NaN
2,allisar01,Art,Allison,1849,1871,1,CL1,NaN,29,137,28,40,4,5,0,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,NaN
3,allisdo01,Doug,Allison,1846,1871,1,WS3,NaN,27,133,28,44,10,2,2,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,NaN
4,ansonca01,Cap,Anson,1852,1871,1,RC1,NaN,25,120,29,39,11,3,0,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,NaN

### 2) Printing basic information about the Data frame and its dimension

In [90]:
print(df.shape)
df.info()

(102816, 25)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102816 entries, 0 to 102815
Data columns (total 25 columns):
playerID     102816 non-null object
nameFirst    102816 non-null object
nameLast     102816 non-null object
birthYear    102816 non-null int64
yearID       102816 non-null int64
stint        102816 non-null int64
teamID       102816 non-null object
lgID         102079 non-null object
G            102816 non-null int64
AB           102816 non-null int64
R            102816 non-null int64
H            102816 non-null int64
2B           102816 non-null int64
3B           102816 non-null int64
HR           102816 non-null int64
RBI          102392 non-null float64
SB           101516 non-null float64
CS           79360 non-null float64
BB           102816 non-null int64
SO           94978 non-null float64
IBB          66251 non-null float64
HBP          100006 non-null float64
SH           96478 non-null float64
SF           66782 non-null float64
GIDP         76706 non-null float64
dtypes: float64(9), int64(11), object(5)
memory usage: 19.6+ MB

### 3) No. of players who have 40 or more HR hits in one single season

In [91]:
df[df["HR"]>=40]["playerID"].nunique()

142

### 4) No. of players who have more than 600 HR hits in their career

In [92]:
np.sum(df.groupby(["playerID"])['HR'].sum().to_frame ('Tot_HR')["Tot_HR"]>600)

8

### 5) NO of players have hit 40 2Bs, 10 3Bs, 200 Hits, and 30 HRs (inclusive) in one season

In [93]:
df[(df['2B']>=40)&(df['3B']>=10)&(df['H']>=200)&(df['HR']>=30)]['playerID'].nunique()

11

### 6) No. of players who have had 100 or more SBs in a season

In [94]:
len(df[df['SB']>=100])

20

### 7) How many players in the 1960s have hit more than 200 HRs?

In [95]:
np.sum((df[(df['yearID']>=1960) & (df['yearID']<=1969)].groupby(['playerID'])['HR'].sum().to_frame('HR60_s'))['HR60_s'] > 200)

19

### 8) Who has hit the most HRs in history?

In [96]:
df.groupby(['playerID','nameFirst','nameLast'])['HR'].sum().to_frame('tot').nlargest(columns='tot',n=1)

                              tot
playerID  nameFirst nameLast
bondsba01 Barry     Bonds     762

### 9) player who had the most hits in the 1970s

In [97]:
df[(df['yearID']>=1970) & (df['yearID']<=1979)].groupby(['playerID','nameFirst','nameLast'])['H'].sum().to_frame('totalHits').nlargest(columns='totalHits',n=1)

                             totalHits
playerID nameFirst nameLast
rosepe01 Pete      Rose           2045

### 10) Top 5 highest OBP (on base percentage) with at least 500 PAs in 1977

In [98]:
df['OBP']=(df['H']+df['BB']+df['IBB']+df['SH']+df['SF'])/df['AB']
df['PA']=df['AB']+df['BB']+df['IBB']+df['SH']+df['SF']
df[(df['yearID']==1977) & (df['PA']>=500)].sort_values(['OBP'],ascending=False).head(5)

,playerID,nameFirst,nameLast,birthYear,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,OBP,PA
55273,singlke01,Ken,Singleton,1947,1977,1,BAL,AL,152,536,90,176,24,0,24,99.0,0.0,1.0,107,101.0,13.0,2.0,0.0,6.0,15.0,0.563433,662.0
55280,smithre06,Reggie,Smith,1945,1977,1,LAN,NL,148,488,104,150,27,4,32,87.0,7.0,5.0,104,76.0,11.0,3.0,1.0,7.0,5.0,0.559426,611.0
55329,tenacge01,Gene,Tenace,1946,1977,1,SDN,NL,147,437,66,102,24,4,15,61.0,5.0,3.0,125,119.0,10.0,13.0,2.0,4.0,5.0,0.556064,578.0
54820,hargrmi01,Mike,Hargrove,1949,1977,1,TEX,AL,153,525,98,160,28,4,18,69.0,2.0,5.0,103,59.0,7.0,6.0,8.0,6.0,13.0,0.540952,649.0
54603,carewro01,Rod,Carew,1945,1977,1,MIN,AL,155,616,128,239,38,16,14,100.0,23.0,13.0,69,55.0,15.0,3.0,1.0,5.0,6.0,0.534091,706.0

### 11) Top 8 highest averages in 2013 with at least 300 PAs?

In [99]:
df['Avg']=df['H']/df['AB']
df[(df['yearID']==2013) & (df['PA']>=300)].nlargest(columns=['Avg'],n=8)

,playerID,nameFirst,nameLast,birthYear,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,OBP,PA,Avg
97188,cabremi01,Miguel,Cabrera,1983,2013,1,DET,AL,148,555,103,193,26,1,44,137.0,3.0,0.0,90,94.0,19.0,5.0,0.0,2.0,19.0,0.547748,666.0,0.347748
98062,ramirha01,Hanley,Ramirez,1983,2013,1,LAN,NL,86,304,62,105,25,2,20,57.0,10.0,2.0,27,52.0,3.0,3.0,0.0,2.0,5.0,0.450658,336.0,0.345395
97300,cuddymi01,Michael,Cuddyer,1979,2013,1,COL,NL,130,489,74,162,31,3,20,84.0,10.0,3.0,46,100.0,5.0,2.0,0.0,3.0,13.0,0.441718,543.0,0.331288
97825,mauerjo01,Joe,Mauer,1983,2013,1,MIN,AL,113,445,62,144,35,0,11,47.0,0.0,1.0,61,89.0,7.0,0.0,0.0,2.0,7.0,0.480899,515.0,0.323596
98293,troutmi01,Mike,Trout,1991,2013,1,LAA,AL,157,589,109,190,39,9,27,97.0,33.0,7.0,110,136.0,10.0,9.0,0.0,8.0,8.0,0.539898,717.0,0.322581
97651,johnsch05,Chris,Johnson,1984,2013,1,ATL,NL,142,514,54,165,34,0,12,68.0,0.0,0.0,29,116.0,5.0,2.0,0.0,2.0,20.0,0.391051,550.0,0.321012
97437,freemfr01,Freddie,Freeman,1989,2013,1,ATL,NL,147,551,89,176,27,2,23,109.0,1.0,0.0,66,121.0,10.0,7.0,0.0,5.0,10.0,0.466425,632.0,0.319419
98043,puigya01,Yasiel,Puig,1990,2013,1,LAN,NL,104,382,66,122,21,2,19,42.0,11.0,8.0,36,97.0,6.0,11.0,0.0,3.0,6.0,0.437173,427.0,0.319372

### 12) Leaders in hits from 1940 up to and including 1949

In [100]:
df[(1940<=df['yearID']) & (df['yearID']<=1949)].nlargest(n=10,columns=['H'])

,playerID,nameFirst,nameLast,birthYear,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,OBP,PA,Avg
33671,musiast01,Stan,Musial,1920,1948,1,SLN,NL,155,611,135,230,46,18,39,131.0,7.0,NaN,79,34.0,NaN,3.0,1.0,NaN,18.0,NaN,NaN,0.376432
32499,musiast01,Stan,Musial,1920,1946,1,SLN,NL,156,624,124,228,50,20,16,103.0,7.0,NaN,73,31.0,NaN,3.0,2.0,NaN,7.0,NaN,NaN,0.365385
31720,holmeto01,Tommy,Holmes,1917,1945,1,BSN,NL,154,636,125,224,47,6,28,117.0,15.0,NaN,70,9.0,NaN,4.0,3.0,NaN,11.0,NaN,NaN,0.352201
30709,musiast01,Stan,Musial,1920,1943,1,SLN,NL,157,617,108,220,48,20,13,81.0,9.0,NaN,72,18.0,NaN,2.0,10.0,NaN,17.0,NaN,NaN,0.356564
29747,travice01,Cecil,Travis,1913,1941,1,WS1,AL,152,608,106,218,39,19,7,101.0,2.0,2.0,52,25.0,NaN,1.0,2.0,NaN,13.0,NaN,NaN,0.358553
32536,peskyjo01,Johnny,Pesky,1919,1946,1,BOS,AL,153,621,115,208,43,4,2,55.0,9.0,8.0,65,29.0,NaN,3.0,14.0,NaN,8.0,NaN,NaN,0.334944
32673,vernomi01,Mickey,Vernon,1918,1946,1,WS1,AL,148,587,88,207,51,8,8,85.0,14.0,10.0,49,64.0,NaN,0.0,2.0,NaN,12.0,NaN,NaN,0.352641
33128,peskyjo01,Johnny,Pesky,1919,1947,1,BOS,AL,155,638,106,207,27,8,0,39.0,12.0,9.0,72,22.0,NaN,0.0,9.0,NaN,10.0,NaN,NaN,0.324451
33420,dillibo01,Bob,Dillinger,1918,1948,1,SLA,AL,153,644,110,207,34,10,2,44.0,28.0,11.0,65,34.0,NaN,1.0,12.0,NaN,18.0,NaN,NaN,0.321429
34242,musiast01,Stan,Musial,1920,1949,1,SLN,NL,157,612,128,207,41,13,36,123.0,3.0,NaN,107,38.0,NaN,2.0,0.0,NaN,12.0,NaN,NaN,0.338235

### 13) Who led MLB with the most hits the most times? And how many times?

In [101]:
x=df.groupby('yearID')['playerID','nameFirst','nameLast','H'].max()
x=x.groupby('playerID')['H'].count()
x.sort_values(ascending=False).head(1).to_frame('totalH')

           totalH
playerID
zimmech01      18

### 14) Which players have played the most games for their careers? Top 5, descending by games played presented as a dataframe

In [102]:
x=df.groupby(['playerID','nameFirst','nameLast'])['G'].sum()
x.sort_values(ascending=False).head(5).to_frame('G')

                                    G
playerID  nameFirst nameLast
rosepe01  Pete      Rose         3562
yastrca01 Carl      Yastrzemski  3308
aaronha01 Hank      Aaron        3298
henderi01 Rickey    Henderson    3081
cobbty01  Ty        Cobb         3035

### 15) How many players have had more than 3000 hits for their careers while also hitting 500 or more HRs? Just a number is okay here

In [103]:
x=df.groupby(['playerID'])[['H','HR']].sum()
x.reset_index(inplace=True)
len(x[(x['HR']>500) & (x['H']>3000)])

5

### 16) How many HRs were hit during the entire 1988 season? Just a number is okay here

In [104]:
df[df['yearID']==1988]['HR'].sum()

3180

### 17) Please filter out and show me the top 3 average seasons by Wade Boggs during his career in seasons in which he had at least 500 ABs. I would like a dataframe sorted by average.

In [105]:
x=df[(df['nameFirst']=='Wade') & (df['nameLast']=='Boggs') & (df['AB']>500)]
x['Avg']=x['H']/x['AB']
x.sort_values(['Avg'],ascending=False)[0:3]

,playerID,nameFirst,nameLast,birthYear,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,OBP,PA,Avg
62316,boggswa01,Wade,Boggs,1958,1985,1,BOS,AL,161,653,107,240,42,3,8,78.0,2.0,1.0,96,61.0,5.0,4.0,3.0,2.0,20.0,0.529862,759.0,0.367534
65391,boggswa01,Wade,Boggs,1958,1988,1,BOS,AL,155,584,128,214,45,6,5,58.0,2.0,3.0,125,34.0,18.0,3.0,0.0,7.0,23.0,0.623288,734.0,0.366438
64335,boggswa01,Wade,Boggs,1958,1987,1,BOS,AL,147,551,108,200,40,6,24,89.0,1.0,3.0,105,48.0,19.0,2.0,1.0,8.0,13.0,0.604356,684.0,0.362976

### 18) Please filter out the top OBPs for the 1995 season with at least 400 PAs, sorted by OBP. I would like a dataframe for this

In [106]:
# Assuming
# PA= AB+BB+IBB+SH+SF
# AVG = H/AB
# OBP = (H+BB+IBB+SH+SF)/(AB)

In [107]:
df['PA']=df['AB']+df['BB']+df['IBB']+df['SH']+df['SF']
df['OBP']=(df['H']+df['BB']+df['IBB']+df['SH']+df['SF'])/df['AB']
x=df[(df['yearID']==1995) & (df['PA']>400)]
x.sort_values(['OBP'],ascending=False)

,playerID,nameFirst,nameLast,birthYear,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,OBP,PA,Avg
73996,thomafr04,Frank,Thomas,1968,1995,1,CHA,AL,145,493,102,152,27,0,40,111.0,3.0,2.0,136,74.0,29.0,6.0,0.0,12.0,14.0,0.667343,670.0,0.308316
73578,martied01,Edgar,Martinez,1963,1995,1,SEA,AL,145,511,121,182,52,0,29,113.0,4.0,3.0,116,87.0,19.0,8.0,0.0,4.0,11.0,0.628180,650.0,0.356164
73611,mcgwima01,Mark,McGwire,1963,1995,1,OAK,AL,104,317,75,87,13,0,39,90.0,1.0,1.0,88,77.0,5.0,11.0,0.0,6.0,9.0,0.586751,416.0,0.274448
73002,bondsba01,Barry,Bonds,1964,1995,1,SFN,NL,144,506,109,149,30,7,33,104.0,31.0,10.0,120,83.0,22.0,5.0,0.0,4.0,12.0,0.583004,652.0,0.294466
73145,davisch01,Chili,Davis,1960,1995,1,CAL,AL,119,424,81,135,23,0,20,86.0,3.0,3.0,89,79.0,12.0,0.0,0.0,9.0,12.0,0.577830,534.0,0.318396
73560,magadda01,Dave,Magadan,1962,1995,1,HOU,NL,127,348,44,109,24,0,2,51.0,2.0,1.0,71,56.0,9.0,0.0,1.0,2.0,9.0,0.551724,431.0,0.313218
73999,thomeji01,Jim,Thome,1970,1995,1,CLE,AL,137,452,92,142,29,3,25,73.0,4.0,3.0,97,113.0,3.0,5.0,0.0,3.0,8.0,0.542035,555.0,0.314159
72937,baineha01,Harold,Baines,1959,1995,1,BAL,AL,127,385,60,115,19,1,24,63.0,0.0,2.0,70,45.0,13.0,0.0,0.0,4.0,17.0,0.524675,472.0,0.298701
74080,weisswa01,Walt,Weiss,1963,1995,1,COL,NL,137,427,65,111,17,3,1,25.0,15.0,3.0,98,57.0,8.0,5.0,6.0,1.0,7.0,0.524590,540.0,0.259953
72999,boggswa01,Wade,Boggs,1958,1995,1,NYA,AL,126,460,76,149,22,4,5,63.0,1.0,1.0,74,50.0,5.0,0.0,0.0,7.0,13.0,0.510870,546.0,0.323913
73671,naehrti01,Tim,Naehring,1967,1995,1,BOS,AL,126,433,61,133,27,2,10,57.0,0.0,2.0,77,66.0,5.0,4.0,4.0,2.0,16.0,0.510393,521.0,0.307159
73875,salmoti01,Tim,Salmon,1968,1995,1,CAL,AL,143,537,111,177,34,3,34,105.0,5.0,5.0,91,111.0,2.0,6.0,0.0,4.0,9.0,0.510242,634.0,0.329609
73469,joynewa01,Wally,Joyner,1962,1995,1,KCA,AL,131,465,69,144,28,0,12,83.0,3.0,2.0,69,65.0,10.0,2.0,5.0,9.0,10.0,0.509677,558.0,0.309677
73992,tettlmi01,Mickey,Tettleton,1960,1995,1,TEX,AL,134,429,76,102,19,1,32,78.0,0.0,0.0,107,110.0,5.0,7.0,1.0,3.0,8.0,0.508159,545.0,0.237762
72934,bagweje01,Jeff,Bagwell,1968,1995,1,HOU,NL,114,448,88,130,29,0,21,87.0,12.0,5.0,79,102.0,12.0,6.0,0.0,6.0,9.0,0.506696,545.0,0.290179
73712,oneilpa01,Paul,O'Neill,1963,1995,1,NYA,AL,127,460,82,138,30,4,22,96.0,1.0,2.0,71,76.0,8.0,1.0,0.0,11.0,25.0,0.495652,550.0,0.300000
73774,phillto02,Tony,Phillips,1959,1995,1,CAL,AL,139,525,119,137,21,1,27,61.0,13.0,10.0,113,135.0,6.0,3.0,1.0,1.0,5.0,0.491429,646.0,0.260952
73371,henderi01,Rickey,Henderson,1958,1995,1,OAK,AL,112,407,67,122,31,1,9,54.0,32.0,10.0,72,66.0,2.0,4.0,1.0,3.0,8.0,0.491400,485.0,0.299754
73809,ramirma02,Manny,Ramirez,1972,1995,1,CLE,AL,137,484,85,149,26,1,31,107.0,6.0,6.0,75,112.0,6.0,5.0,2.0,5.0,13.0,0.489669,572.0,0.307851
73098,clarkwi02,Will,Clark,1964,1995,1,TEX,AL,123,454,85,137,27,3,16,92.0,0.0,1.0,68,50.0,6.0,4.0,0.0,11.0,7.0,0.488987,539.0,0.301762
73495,knoblch01,Chuck,Knoblauch,1968,1995,1,MIN,AL,136,538,107,179,34,8,11,63.0,46.0,18.0,78,95.0,3.0,10.0,0.0,3.0,15.0,0.488848,622.0,0.332714
74044,venturo01,Robin,Ventura,1967,1995,1,CHA,AL,135,492,79,145,22,0,26,93.0,4.0,3.0,75,98.0,11.0,1.0,1.0,8.0,8.0,0.487805,587.0,0.294715
73703,olerujo01,John,Olerud,1968,1995,1,TOR,AL,135,492,72,143,32,0,8,54.0,0.0,0.0,84,54.0,10.0,4.0,0.0,1.0,17.0,0.483740,587.0,0.290650
73261,gantro01,Ron,Gant,1965,1995,1,CIN,NL,119,410,79,113,19,4,29,88.0,23.0,8.0,74,108.0,5.0,3.0,1.0,5.0,11.0,0.482927,495.0,0.275610
72988,biggicr01,Craig,Biggio,1965,1995,1,HOU,NL,141,553,123,167,30,2,22,77.0,33.0,8.0,80,85.0,1.0,22.0,11.0,7.0,6.0,0.481013,652.0,0.301989
74031,valenjo02,John,Valentin,1967,1995,1,BOS,AL,135,520,108,155,37,2,27,102.0,20.0,5.0,81,67.0,2.0,10.0,4.0,6.0,7.0,0.476923,613.0,0.298077
73295,gracema01,Mark,Grace,1964,1995,1,CHN,NL,143,552,97,180,51,3,16,92.0,6.0,2.0,65,46.0,9.0,2.0,1.0,7.0,10.0,0.474638,634.0,0.326087
73109,coninje01,Jeff,Conine,1966,1995,1,FLO,NL,133,483,72,146,26,2,25,105.0,2.0,0.0,66,94.0,5.0,1.0,0.0,12.0,13.0,0.474120,566.0,0.302277
72902,alicelu01,Luis,Alicea,1965,1995,1,BOS,AL,132,419,64,113,20,3,6,44.0,13.0,10.0,63,61.0,0.0,7.0,13.0,9.0,10.0,0.472554,504.0,0.269690
73700,offerjo01,Jose,Offerman,1968,1995,1,LAN,NL,119,429,69,123,14,6,4,33.0,2.0,7.0,69,67.0,0.0,3.0,10.0,0.0,5.0,0.470862,508.0,0.286713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73006,boonebr01,Bret,Boone,1969,1995,1,CIN,NL,138,513,63,137,34,2,15,68.0,5.0,1.0,41,84.0,0.0,6.0,5.0,5.0,14.0,0.366472,564.0,0.267057
73036,brumfja01,Jacob,Brumfield,1965,1995,1,PIT,NL,116,402,64,109,23,2,4,26.0,22.0,12.0,37,71.0,0.0,5.0,0.0,1.0,3.0,0.365672,440.0,0.271144
74089,whitede03,Devon,White,1962,1995,1,TOR,AL,101,427,61,121,23,5,10,53.0,11.0,2.0,29,97.0,1.0,5.0,1.0,3.0,5.0,0.362998,461.0,0.283372
73958,steinte01,Terry,Steinbach,1962,1995,1,OAK,AL,114,406,43,113,26,1,15,65.0,1.0,3.0,25,74.0,4.0,3.0,1.0,4.0,15.0,0.362069,440.0,0.278325
73309,grissma02,Marquis,Grissom,1967,1995,1,ATL,NL,139,551,80,142,23,3,12,42.0,29.0,9.0,47,61.0,4.0,3.0,1.0,4.0,8.0,0.359347,607.0,0.257713
73568,manwaki01,Kirt,Manwaring,1965,1995,1,SFN,NL,118,379,21,95,15,2,4,36.0,1.0,0.0,27,72.0,6.0,10.0,4.0,4.0,8.0,0.358839,420.0,0.250660
73257,galaran01,Andres,Galarraga,1961,1995,1,COL,NL,143,554,89,155,29,3,31,106.0,12.0,2.0,32,146.0,6.0,13.0,0.0,5.0,14.0,0.357401,597.0,0.279783
72992,blausje01,Jeff,Blauser,1965,1995,1,ATL,NL,115,431,60,91,16,2,12,31.0,8.0,5.0,57,107.0,2.0,12.0,2.0,2.0,6.0,0.357309,494.0,0.211137
73300,greensh01,Shawn,Green,1972,1995,1,TOR,AL,121,379,52,109,31,4,15,54.0,1.0,2.0,20,68.0,3.0,3.0,0.0,3.0,4.0,0.356201,405.0,0.287599
73482,kentje01,Jeff,Kent,1968,1995,1,NYN,NL,125,472,65,131,22,3,20,65.0,3.0,3.0,29,89.0,3.0,8.0,1.0,4.0,9.0,0.355932,509.0,0.277542
73393,hillgl01,Glenallen,Hill,1965,1995,1,SFN,NL,132,497,71,131,29,4,24,86.0,25.0,5.0,39,98.0,4.0,1.0,0.0,2.0,11.0,0.354125,542.0,0.263581
73465,jordabr01,Brian,Jordan,1967,1995,1,SLN,NL,131,490,83,145,20,4,22,81.0,24.0,9.0,22,79.0,4.0,11.0,0.0,2.0,5.0,0.353061,518.0,0.295918
73278,girarjo01,Joe,Girardi,1964,1995,1,COL,NL,125,462,63,121,17,2,8,55.0,3.0,3.0,29,76.0,0.0,2.0,12.0,1.0,15.0,0.352814,504.0,0.261905
73853,rodriiv01,Ivan,Rodriguez,1971,1995,1,TEX,AL,130,492,56,149,32,2,12,67.0,0.0,2.0,16,48.0,2.0,4.0,0.0,5.0,11.0,0.349593,515.0,0.302846
73181,durhara01,Ray,Durham,1971,1995,1,CHA,AL,125,471,68,121,27,6,7,51.0,18.0,5.0,31,83.0,2.0,6.0,5.0,4.0,8.0,0.346072,513.0,0.256900
73481,kellyro01,Roberto,Kelly,1964,1995,2,LAN,NL,112,409,47,114,19,2,6,48.0,15.0,7.0,15,65.0,5.0,4.0,0.0,7.0,10.0,0.344743,436.0,0.278729
72956,beckeri01,Rich,Becker,1972,1995,1,MIN,AL,106,392,45,93,15,1,2,33.0,8.0,9.0,34,95.0,0.0,4.0,6.0,2.0,9.0,0.344388,434.0,0.237245
73180,dunstsh01,Shawon,Dunston,1963,1995,1,CHN,NL,127,477,58,141,30,6,14,69.0,10.0,5.0,10,75.0,3.0,6.0,7.0,3.0,8.0,0.343816,500.0,0.295597
73556,macfami01,Mike,Macfarlane,1964,1995,1,BOS,AL,115,364,45,82,18,1,15,51.0,2.0,1.0,38,78.0,0.0,14.0,0.0,4.0,9.0,0.340659,406.0,0.225275
73878,sanchre01,Rey,Sanchez,1967,1995,1,CHN,NL,114,428,57,119,22,2,3,27.0,6.0,4.0,14,48.0,2.0,1.0,8.0,2.0,9.0,0.338785,454.0,0.278037
73073,cartejo01,Joe,Carter,1960,1995,1,TOR,AL,139,558,70,141,23,0,25,76.0,12.0,1.0,37,87.0,5.0,3.0,0.0,5.0,11.0,0.336918,605.0,0.252688
73283,gomezch02,Chris,Gomez,1971,1995,1,DET,AL,123,431,49,96,20,2,11,50.0,4.0,1.0,41,96.0,0.0,3.0,3.0,4.0,13.0,0.334107,479.0,0.222738
73099,claytro01,Royce,Clayton,1970,1995,1,SFN,NL,138,509,56,124,29,3,5,58.0,24.0,9.0,38,109.0,1.0,3.0,4.0,3.0,7.0,0.333988,555.0,0.243615
74062,walbema01,Matt,Walbeck,1969,1995,1,MIN,AL,115,393,40,101,18,1,1,44.0,3.0,1.0,25,71.0,2.0,1.0,1.0,2.0,11.0,0.333333,423.0,0.256997
73102,colbrgr01,Greg,Colbrunn,1969,1995,1,FLO,NL,138,528,70,146,22,1,23,89.0,11.0,3.0,22,69.0,4.0,6.0,0.0,4.0,15.0,0.333333,558.0,0.276515
73617,mearepa01,Pat,Meares,1968,1995,1,MIN,AL,116,390,57,105,19,4,12,49.0,10.0,4.0,15,68.0,0.0,11.0,4.0,5.0,17.0,0.330769,414.0,0.269231
73509,lansimi01,Mike,Lansing,1968,1995,1,MON,NL,127,467,47,119,30,2,10,62.0,27.0,4.0,28,65.0,2.0,3.0,1.0,3.0,14.0,0.327623,501.0,0.254818
73274,gilbe01,Benji,Gil,1972,1995,1,TEX,AL,130,415,36,91,20,3,9,46.0,2.0,4.0,26,147.0,0.0,1.0,10.0,2.0,5.0,0.310843,453.0,0.219277
73081,cedenan01,Andujar,Cedeno,1969,1995,1,SDN,NL,120,390,42,82,16,2,6,31.0,5.0,3.0,28,92.0,7.0,5.0,0.0,1.0,12.0,0.302564,426.0,0.210256
73319,guilloz01,Ozzie,Guillen,1964,1995,1,CHA,AL,122,415,50,103,20,3,1,41.0,6.0,7.0,13,25.0,1.0,0.0,4.0,1.0,11.0,0.293976,434.0,0.248193

### 19) Who had the most 3Bs (in total) in 1922, 1925, 1926, and 1928?

In [108]:
x=df[df['yearID'].isin([1922,1925,1926,1928])].groupby(['playerID','nameFirst','nameLast'])['3B'].sum().to_frame('total3B')
x.sort_values(['total3B'],ascending=False).head(1)

                              total3B
playerID  nameFirst nameLast
walkecu01 Curt      Walker         59

### 20) How many players have hit 30 or more HRs in season while also stealing (SB) 30 more or bases?

In [109]:
len(df[(df['HR']>=30) & (df['SB']>=30)]['playerID'].unique())

37

### 21) Who had the highest OBP is 1986 with at least 400 PAs?

In [110]:
x=df[(df['yearID']==1986) & (df['PA']>=400)]
x.sort_values(['OBP'],ascending=False).head(1)

,playerID,nameFirst,nameLast,birthYear,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,OBP,PA,Avg
63320,boggswa01,Wade,Boggs,1958,1986,1,BOS,AL,149,580,107,207,47,2,8,71.0,0.0,4.0,105,44.0,14.0,0.0,4.0,4.0,11.0,0.575862,707.0,0.356897

### 22) Same question but for 1997 and only in the NL (check league ID)?

In [111]:
x=df[(df['yearID']==1997) & (df['PA']>=400) & (df['lgID']=='NL')]
x.sort_values(['OBP'],ascending=False).head(1)

,playerID,nameFirst,nameLast,birthYear,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,OBP,PA,Avg
75505,bondsba01,Barry,Bonds,1964,1997,1,SFN,NL,159,532,123,155,26,5,40,101.0,37.0,8.0,145,87.0,34.0,8.0,0.0,5.0,13.0,0.637218,716.0,0.291353

### 23) Who had more than the league average HRs in 2012 (filter out all players with less 500 PAs)?

In [112]:
df[(df['HR']>df['HR'].mean()) & (df['yearID']==2012) & (df['PA']<500)]

,playerID,nameFirst,nameLast,birthYear,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,OBP,PA,Avg
95598,abreubo01,Bobby,Abreu,1974,2012,2,LAN,NL,92,195,28,48,8,1,3,19.0,6.0,2.0,35,51.0,3.0,0.0,0.0,0.0,6.0,0.441026,233.0,0.246154
95621,amarial01,Alexi,Amarista,1989,2012,2,SDN,NL,105,275,35,66,15,5,5,32.0,8.0,4.0,17,42.0,1.0,0.0,6.0,2.0,2.0,0.334545,301.0,0.240000
95626,andinro01,Robert,Andino,1984,2012,1,BAL,AL,127,384,41,81,13,1,7,28.0,5.0,5.0,37,100.0,0.0,2.0,7.0,1.0,13.0,0.328125,429.0,0.210938
95628,ankieri01,Rick,Ankiel,1979,2012,1,WAS,NL,68,158,15,36,10,2,5,15.0,1.0,3.0,12,59.0,3.0,0.0,1.0,0.0,3.0,0.329114,174.0,0.227848
95631,arencjp01,J. P.,Arencibia,1986,2012,1,TOR,AL,102,347,45,81,16,0,18,56.0,1.0,0.0,18,108.0,1.0,3.0,1.0,3.0,4.0,0.299712,370.0,0.233429
95632,ariasjo01,Joaquin,Arias,1984,2012,1,SFN,NL,112,319,30,86,13,5,5,34.0,5.0,1.0,13,44.0,4.0,5.0,2.0,5.0,12.0,0.344828,343.0,0.269592
95639,avilaal01,Alex,Avila,1987,2012,1,DET,AL,116,367,42,89,21,2,9,48.0,2.0,0.0,61,104.0,2.0,2.0,2.0,2.0,12.0,0.425068,434.0,0.242507
95649,bakerje03,Jeff,Baker,1981,2012,1,CHN,NL,54,134,16,36,10,1,4,20.0,4.0,1.0,8,28.0,0.0,0.0,0.0,2.0,4.0,0.343284,144.0,0.268657
95655,barajro01,Rod,Barajas,1975,2012,1,PIT,NL,104,321,29,66,11,0,11,31.0,0.0,0.0,29,69.0,5.0,7.0,0.0,4.0,4.0,0.323988,359.0,0.205607
95657,barmecl01,Clint,Barmes,1979,2012,1,PIT,NL,144,455,34,104,16,1,8,45.0,0.0,2.0,20,106.0,3.0,8.0,8.0,2.0,9.0,0.301099,488.0,0.228571
95668,bautijo02,Jose,Bautista,1980,2012,1,TOR,AL,92,332,64,80,14,0,27,65.0,5.0,2.0,59,63.0,2.0,4.0,0.0,4.0,11.0,0.436747,397.0,0.240964
95669,baxtemi01,Mike,Baxter,1984,2012,1,NYN,NL,89,179,26,47,14,2,3,17.0,5.0,3.0,25,45.0,4.0,5.0,0.0,2.0,0.0,0.435754,210.0,0.262570
95670,bayja01,Jason,Bay,1978,2012,1,NYN,NL,70,194,21,32,2,0,8,20.0,5.0,1.0,19,58.0,0.0,0.0,0.0,2.0,3.0,0.273196,215.0,0.164948
95686,beltbr01,Brandon,Belt,1988,2012,1,SFN,NL,145,411,47,113,27,6,7,56.0,12.0,2.0,54,106.0,5.0,3.0,0.0,4.0,2.0,0.428224,474.0,0.274939
95694,bernaro01,Roger,Bernadina,1984,2012,1,WAS,NL,129,227,25,66,11,0,5,25.0,15.0,3.0,28,53.0,3.0,2.0,3.0,1.0,2.0,0.444934,262.0,0.290749
95697,betanyu01,Yuniesky,Betancourt,1982,2012,1,KCA,AL,57,215,21,49,14,1,7,36.0,0.0,1.0,9,25.0,0.0,0.0,1.0,3.0,10.0,0.288372,228.0,0.227907
95698,betemwi01,Wilson,Betemit,1981,2012,1,BAL,AL,102,341,41,89,19,0,12,40.0,0.0,1.0,31,103.0,0.0,1.0,0.0,3.0,8.0,0.360704,375.0,0.260997
95699,biancje01,Jeff,Bianchi,1986,2012,1,MIL,NL,33,69,8,13,2,0,3,9.0,0.0,0.0,4,13.0,0.0,0.0,2.0,1.0,1.0,0.289855,76.0,0.188406
95706,blancgr01,Gregor,Blanco,1983,2012,1,SFN,NL,141,393,56,96,14,5,5,34.0,26.0,6.0,51,104.0,2.0,2.0,5.0,2.0,0.0,0.396947,453.0,0.244275
95714,boescbr01,Brennan,Boesch,1985,2012,1,DET,AL,132,470,52,113,22,2,12,54.0,6.0,3.0,26,104.0,1.0,5.0,0.0,2.0,11.0,0.302128,499.0,0.240426
95716,bogusbr01,Brian,Bogusevic,1984,2012,1,HOU,NL,146,355,39,72,9,2,7,28.0,15.0,4.0,41,96.0,1.0,7.0,0.0,1.0,6.0,0.323944,398.0,0.202817
95720,bourjpe01,Peter,Bourjos,1987,2012,1,LAA,AL,101,168,27,37,7,0,3,19.0,3.0,1.0,15,44.0,0.0,3.0,6.0,3.0,2.0,0.363095,192.0,0.220238
95727,brantro01,Rob,Brantly,1989,2012,1,MIA,NL,31,100,14,29,8,0,3,8.0,1.0,1.0,13,16.0,2.0,0.0,0.0,0.0,1.0,0.440000,115.0,0.290000
95735,brownan02,Andrew,Brown,1984,2012,1,COL,NL,46,112,14,26,7,0,5,11.0,2.0,2.0,12,34.0,0.0,0.0,0.0,2.0,3.0,0.357143,126.0,0.232143
95738,browndo01,Domonic,Brown,1987,2012,1,PHI,NL,56,187,21,44,11,2,5,26.0,0.0,0.0,21,34.0,2.0,2.0,0.0,2.0,6.0,0.368984,212.0,0.235294
95745,buckjo01,John,Buck,1980,2012,1,MIA,NL,106,343,29,66,15,1,12,41.0,0.0,0.0,49,103.0,5.0,3.0,1.0,2.0,8.0,0.358601,400.0,0.192420
95770,cainlo01,Lorenzo,Cain,1986,2012,1,KCA,AL,61,222,27,59,9,2,7,31.0,10.0,0.0,15,56.0,0.0,3.0,0.0,4.0,4.0,0.351351,241.0,0.265766
95778,canzlru01,Russ,Canzler,1986,2012,1,CLE,AL,26,93,9,25,3,0,3,11.0,0.0,0.0,4,22.0,1.0,0.0,0.0,0.0,0.0,0.322581,98.0,0.268817
95792,carpema01,Matt,Carpenter,1985,2012,1,SLN,NL,114,296,44,87,22,5,6,46.0,1.0,1.0,34,63.0,2.0,3.0,0.0,7.0,10.0,0.439189,339.0,0.293919
95793,carpmi01,Mike,Carp,1986,2012,1,SEA,AL,59,164,17,35,6,0,5,20.0,1.0,0.0,21,46.0,1.0,3.0,0.0,1.0,7.0,0.353659,187.0,0.213415
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96840,suzukic01,Ichiro,Suzuki,1973,2012,1,SEA,AL,95,402,49,105,15,5,4,28.0,15.0,2.0,17,40.0,4.0,0.0,0.0,4.0,10.0,0.323383,427.0,0.261194
96841,suzukic01,Ichiro,Suzuki,1973,2012,2,NYA,AL,67,227,28,73,13,1,5,27.0,14.0,5.0,5,21.0,1.0,2.0,5.0,1.0,2.0,0.374449,239.0,0.321586
96843,suzukku01,Kurt,Suzuki,1983,2012,2,WAS,NL,43,146,17,39,5,0,5,25.0,1.0,0.0,11,20.0,3.0,2.0,2.0,3.0,2.0,0.397260,165.0,0.267123
96847,tabatjo01,Jose,Tabata,1988,2012,1,PIT,NL,103,333,43,81,20,3,3,16.0,8.0,12.0,29,58.0,0.0,6.0,6.0,0.0,7.0,0.348348,368.0,0.243243
96860,thameer01,Eric,Thames,1986,2012,1,TOR,AL,46,148,17,36,7,1,3,11.0,0.0,1.0,9,40.0,0.0,1.0,0.0,2.0,7.0,0.317568,159.0,0.243243
96861,thameer01,Eric,Thames,1986,2012,2,SEA,AL,40,123,10,27,5,2,6,14.0,1.0,0.0,6,47.0,0.0,0.0,1.0,0.0,0.0,0.276423,130.0,0.219512
96870,thomeji01,Jim,Thome,1970,2012,1,PHI,NL,30,62,9,15,2,0,5,15.0,0.0,0.0,8,21.0,1.0,1.0,0.0,0.0,2.0,0.387097,71.0,0.241935
96871,thomeji01,Jim,Thome,1970,2012,2,BAL,AL,28,101,8,26,5,0,3,10.0,0.0,0.0,14,40.0,2.0,0.0,0.0,0.0,4.0,0.415842,117.0,0.257426
96881,torrean02,Andres,Torres,1978,2012,1,NYN,NL,132,374,47,86,17,7,3,35.0,13.0,5.0,52,90.0,2.0,3.0,1.0,2.0,9.0,0.382353,431.0,0.229947
96883,torreyo01,Yorvit,Torrealba,1978,2012,1,TEX,AL,49,161,16,38,8,0,3,12.0,1.0,1.0,14,31.0,0.0,2.0,3.0,2.0,2.0,0.354037,180.0,0.236025
96886,tracych01,Chad,Tracy,1980,2012,1,WAS,NL,73,93,7,25,7,0,3,14.0,0.0,0.0,10,15.0,3.0,1.0,0.0,1.0,1.0,0.419355,107.0,0.268817
96891,tulowtr01,Troy,Tulowitzki,1984,2012,1,COL,NL,47,181,33,52,8,2,8,27.0,2.0,2.0,19,19.0,1.0,2.0,0.0,1.0,7.0,0.403315,202.0,0.287293
96900,utleych01,Chase,Utley,1978,2012,1,PHI,NL,83,301,48,77,15,2,11,45.0,11.0,1.0,43,43.0,7.0,12.0,0.0,6.0,4.0,0.441860,357.0,0.255814
96901,valbulu01,Luis,Valbuena,1985,2012,1,CHN,NL,90,265,26,58,20,0,4,28.0,0.0,2.0,36,55.0,1.0,0.0,0.0,2.0,6.0,0.366038,304.0,0.218868
96903,valdejo02,Jordany,Valdespin,1987,2012,1,NYN,NL,94,191,28,46,9,1,8,26.0,10.0,3.0,10,44.0,0.0,2.0,3.0,0.0,2.0,0.308901,204.0,0.240838
96918,venabwi01,Will,Venable,1982,2012,1,SDN,NL,148,417,62,110,26,8,9,45.0,24.0,6.0,41,94.0,2.0,5.0,5.0,2.0,2.0,0.383693,467.0,0.263789
96924,victosh01,Shane,Victorino,1980,2012,1,PHI,NL,101,387,46,101,17,5,9,40.0,24.0,4.0,35,49.0,1.0,2.0,5.0,2.0,4.0,0.372093,430.0,0.260982
96936,vottojo01,Joey,Votto,1983,2012,1,CIN,NL,111,374,59,126,44,0,14,56.0,5.0,3.0,94,85.0,18.0,5.0,0.0,2.0,8.0,0.641711,488.0,0.336898
96942,wallabr01,Brett,Wallace,1986,2012,1,HOU,NL,66,229,24,58,10,1,9,24.0,0.0,0.0,18,73.0,1.0,6.0,0.0,1.0,2.0,0.340611,249.0,0.253275
96954,wellsca01,Casper,Wells,1984,2012,1,SEA,AL,93,285,42,65,12,3,10,36.0,3.0,0.0,26,80.0,0.0,4.0,1.0,0.0,3.0,0.322807,312.0,0.228070
96957,wellsve01,Vernon,Wells,1978,2012,1,LAA,AL,77,243,36,56,9,0,11,29.0,3.0,1.0,16,35.0,0.0,1.0,0.0,2.0,5.0,0.304527,261.0,0.230453
96959,werthja01,Jayson,Werth,1979,2012,1,WAS,NL,81,300,42,90,21,3,5,31.0,8.0,2.0,42,57.0,2.0,1.0,0.0,1.0,3.0,0.450000,345.0,0.300000
96967,wiggity01,Ty,Wigginton,1977,2012,1,PHI,NL,125,315,40,74,11,0,11,43.0,1.0,0.0,37,81.0,2.0,2.0,0.0,6.0,5.0,0.377778,360.0,0.234921
96972,wilsobo02,Bobby,Wilson,1983,2012,1,LAA,AL,75,171,19,36,5,0,3,13.0,0.0,0.0,15,33.0,0.0,1.0,13.0,1.0,7.0,0.380117,200.0,0.210526
96977,wisede01,Dewayne,Wise,1978,2012,1,NYA,AL,56,61,11,16,3,1,3,8.0,7.0,0.0,2,12.0,0.0,0.0,0.0,0.0,1.0,0.295082,63.0,0.262295
96978,wisede01,Dewayne,Wise,1978,2012,2,CHA,AL,45,163,20,42,7,1,5,22.0,12.0,4.0,9,40.0,0.0,1.0,0.0,3.0,1.0,0.331288,175.0,0.257669
96988,youklke01,Kevin,Youkilis,1979,2012,1,BOS,AL,42,146,25,34,7,1,4,14.0,0.0,0.0,14,39.0,0.0,4.0,0.0,1.0,4.0,0.335616,161.0,0.232877
96989,youklke01,Kevin,Youkilis,1979,2012,2,CHA,AL,80,292,47,69,8,1,15,46.0,0.0,0.0,37,69.0,2.0,13.0,0.0,2.0,6.0,0.376712,333.0,0.236301
96991,youngch04,Chris,Young,1983,2012,1,ARI,NL,101,325,36,75,24,0,14,41.0,8.0,3.0,36,79.0,0.0,2.0,0.0,0.0,4.0,0.341538,361.0,0.230769
96993,younger03,Eric,Young,1985,2012,1,COL,NL,98,174,36,55,7,2,4,15.0,14.0,2.0,13,31.0,0.0,4.0,5.0,0.0,1.0,0.419540,192.0,0.316092

### 24) Who is the youngest player to hit 50 or more HRs in a single season?

In [113]:
df['Age']=df['yearID']-df['birthYear']
df[(df['Age']==df[df['HR']>=50]['Age'].min()) & (df['HR']>=50)][['playerID','nameFirst','nameLast','HR','Age']]

        playerID nameFirst nameLast  HR  Age
89082  fieldpr01    Prince  Fielder  50   23

### 25) Who are the five youngest players to hit 300 or more HRs for their career?

In [114]:
x=df.groupby(['playerID','nameFirst','nameLast'])['HR'].sum().to_frame('totalHR')
y=df.groupby(['playerID'])['Age'].max().to_frame('age')
x.reset_index(inplace=True)
y.reset_index(inplace=True)
xy=x.merge(y,left_on='playerID',right_on='playerID',how='inner')
xy[xy['totalHR']>300].sort_values(['age']).head(5)

        playerID nameFirst     nameLast  totalHR  age
5287   fieldpr01    Prince      Fielder      319   32
4953   encared01     Edwin  Encarnacion      310   33
9036   kinerra01     Ralph        Kiner      369   33
2385   cabremi01    Miguel      Cabrera      446   33
15471  sexsori01    Richie       Sexson      306   34